.input-error-highlight {
  border: #cb6945 solid 1px;
}


.tooltip,
.tooltip-right {
  font-family: 'open_sanssemibold';
  padding: 4px 7px;
  font-size: 12px;
  top: 45%;
  color: #86432e;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .45);
  border: 1px solid #f19a7c;
  border-radius: 5px;
  background-color: #e69073;
  background-image: linear-gradient(to bottom, rgba(243,162,135,1) 10%,rgba(211,118,84,1) 100%);
  box-shadow: 0 2px 1px 0 rgba(9, 9, 9, .17),inset 0 1px 0 0 rgba(255, 255, 255, .25);
  position: absolute;
  white-space: nowrap;
}

.tooltip {
  margin-right: 7px;
  right: 100%;
}

.tooltip-right {
  margin-left: 7px;
  left: 100%;
}

.tooltip:after,
.tooltip-right:after {
  content: ' ';
  position: absolute;
  top: 8px;
  height: 10px;
  width: 6px;
}

.tooltip:after {
  right: -7px;
  background-image: url(../img/triangle-left.png);
  height: 10px;
  width: 6px;
}

.tooltip-right:after {
  left: -7px;
  background-image: url(../img/triangle-right.png);
  height: 10px;
  width: 6px;
}
